* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #EEE;
}

.container {
    width: 100vw;
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
}

.container img {
    transform: rotate(0.001deg);
}


.img{
    margin-top: -4px;
}